.form-group {
    position: relative;
}

.form-group > span {
    position: absolute;
    right: 15px;
    transform: translateY(-127%);
    font-size: 17px;
    color: black;
    cursor: pointer;
    display: none;
}

.form-group > #pass1:valid ~ #icon1 {
    display: block;
}

.form-group #icon1 i.hide-btn::before{
    content: "\f070";
}

.form-group > #pass2:valid ~ #icon2 {
    display: block;
}

.form-group #icon2 i.hide-btn::before{
    content: "\f070";
}

.form-group > #pass3:valid ~ #icon3 {
    display: block;
}

.form-group #icon3 i.hide-btn::before{
    content: "\f070";
}