{% extends 'layout/base.html' %}


{% block content %}
<div class="row">
    <div class="col-lg-2 col-md-12">
        <div class="list-group">
            {% include 'user/personnel/index.html' %}
        </div>
    </div>
    <div class="col-lg-10 col-md-auto">
         <div style="display:flex;" class="heading">
             <div class="mb-5">
             <br>
            <h1 class="display-5">Danh sách nhân viên nghỉ việc</h1>
         </div>
            <div style="position:absolute; right:50px; top:34px; font-size:20px; color:red;" id="clock"></div></div>
        <hr>
        {% if err_msg is defined and err_msg %}
            <div class="alert alert-warning">{{ err_msg }}</div>
        {% endif %}

        <nav class="navbar navbar-expand-sm navbar-dark">
          <form class="form-inline" action="{{ url_for('employee_board') }}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="keyword">
            <button class="btn btn-success" type="submit">Search</button>
          </form>
        </nav>
        <br>


        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">x</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <table id="myTable" class="table table-hover table-sm table-bordered">
        <thead>
            <tr>
                <th>Mã nhân viên</th>
                <th>Họ và tên</th>
                <th>Tên tài khoản</th>
                <th>Giới tính</th>
                <th>Chức vụ</th>
                <th>Tên phòng ban</th>
                <th>Số điện thoại</th>
            </tr>
        </thead>
        <tbody>
            {% for em in employees %}

            <tr>
                <td>{{ em.id }}</td>
                <td>{{ em.full_name }}</td>
                <td>{{ em.username }}</td>
                <td>{{ em.gender }}</td>
                <td>{{ em.position_name }}</td>
                <td>{{ em.department_name }}</td>
                <td>{{ em.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    <br><br>


    </div>
    <div id="pagination"></div>
</div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/pagination.css') }}">
<script src="{{ url_for('static', filename='js/time.js') }}"></script>
<script src="{{ url_for('static', filename='js/pagination.js') }}"></script>
{% endblock %}

